!= css('jquery.jqplot.min')
!= js('connected')

.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') Coin Feed
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='#/feed') Feed
        ul.pull-right.nav
 
.container#ads  
  .p 
  
.container#tickers 

  table.table.table-hover
    caption Bitcoin Markets
    thead
      tr
        th Market
        th Bid
        th Ask
    tbody
      tr#tickerMtGox
      tr#tickerBitStamp
      tr#tickerBtce
      
.container#marketView  
  #marketChart

script#tickerTemplate(type="text/template")
  td <%= model.name %>
  td <%= model.bid %>
  td <%= model.ask %>