!= css('jquery.jqplot.min')
!= js('connected')

.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') Coin Feed
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='#/feed') Feed
        ul.pull-right.nav
   
.container
  #tickers 
  table.table.table-hover#TickerTable
    caption Bitcoin Markets
    thead
      tr
        th Market
        th Bid
        th Ask
    tbody
      
.container#marketView  
  #marketChart

script#tickerTemplate(type="text/template")
  td 
    img(src!='img/<%= model.icon %>', width="64", height="64")
  td.number <%= model.symbol %> <%= model.bid %>
  td.number <%= model.symbol %> <%= model.ask %>