

.sidebar-nav {
  padding: 10px 10px;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}

#ads
{
}

#TickerTable td.number
{
   font-family:"Consolas";
   font-size:1.3em !important;
   font-weight:bold;
}

#TickerTable th
{
   font-family:"Consolas";
   font-size:1.3em !important;
   
}
#feed
{
  display: none;
  width: auto;
  input
  {
    cursor: copy;
  }

  .all input {
    width: 100%;
  }
}
.sidebar {
  ul, li
  {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  label
  {
    padding: 3px 15px;
    cursor: pointer;
  }
  label:hover
  {
    background-color: #F1F1F1;
  }
  select
  {
    width: inherit;
  }
}

.marketName
{
	font-weight:bold;
	fond-size:200%;
}